/* @import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    /* These are not actually serious suggestions */
    /* font-family: "Michroma", sans-serif; */
    /* font-family: "Share Tech", sans-serif; */
    /* font-family: "Work Sans", sans-serif; */
    /* font-family: "Electrolize", sans-serif; */
    font-family: "Turret Road", sans-serif;
    font-weight: 700;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  ol {
    @apply list-decimal;
  }
  ul {
    @apply list-disc;
  }
  h1[id],
  h2[id],
  h3[id],
  h4[id],
  h5[id],
  h6[id] {
    @apply scroll-mt-16;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@keyframes blinkSlow {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 0.5; }
}

@keyframes blinkSlower {
  0%, 100% { opacity: 0.1; }
  50% { opacity: 0.4; }
}

@keyframes blinkFast {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 0.6; }
}

.animate-blink-slow {
  animation: blinkSlow 6s ease-in-out infinite;
}
.animate-blink-slower {
  animation: blinkSlower 10s ease-in-out infinite;
}
.animate-blink-fast {
  animation: blinkFast 4s ease-in-out infinite;
}
